.LeftParty{
    margin-left:1em;
    align-items: center;
    padding:5px;
    display: block;
    padding-bottom: 3em;

}

.titreComp {
    padding: 0 0 30px;  
    font-size:2em;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    color: var(--color-texte-Competances);
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 20px #34b3c1, 0 0 100px #4dbbc7;
    }
  }


.SubComp{
    font-size: 14px !important;
    text-align: center;
    color: rgb(176, 174, 174) !important;
    position: relative;
    margin-bottom: 5em;
}


.RightParty{
    display: flex;
}

.skills-container {
    width:80%;
    margin-bottom: 5em;
    margin-left:7.5em !important;
}


.skill-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    font-size: 15px;
}

.skill-name {
    font-weight: bold;
}

.experience-years {
    font-size: 16px;
    color: #555;
    float: right;
}

.BoxExp{
  box-sizing: border-box;
  margin-top: 4em;
  margin-bottom: 6em;
  font-size: 13px;
  display: flex;
  margin-left: 9em;
}

.PartySociete {
    width: 35%;
    float: left;
    padding: 15px;
  }
  
.DescriptionExperiences {
    width: 65%;
    float: right;
    padding: 15px;
    border-left: 5px solid #e0e0e0;
    color: var(--color-text-experiences);
    font-size: 13px;

  }

.LinkSociete{
  color : rgb(13, 6, 210);
}


.TitreTasks{
  color:rgb(207, 71, 71);
  font-size: 14px;
  animation: AnimLink 5s ease-in-out 1 ;

}
.StylePoste{
  font-weight : bold;
  color: rgba(68, 190, 243, 0.996);
  font-size: 15px;
}
.StylePeriode{
  color: rgb(207, 71, 71);
}

@keyframes AnimLink {
  0%{
    margin-top: -5em;
    color: aliceblue;
  };
  100%{
    margin-top : 0;
    color:rgb(13, 6, 210)}
}




@media (max-width: 1000px)  {
.cv-downloadX {
    margin-top: 2em !important;
    padding: 2px 5em;
    display: block;
  }
}

@media (max-width:750px){
  
  .skill-item {
    margin-left: -6em;
    width:100%;
  }

}







/* style timeline */


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%)
   rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #fff;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px
   rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 16em;
  color:black;
}


.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  width: 80px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.timeline ul li div div {
  height: 190px;
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(30deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(30deg);
}
.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}

.scientists,.discovery{
  text-align: center;
}


.PosteStyle{
  margin-bottom: 1em;
  color:#f5af19;
  text-transform: uppercase;
  font-weight: bold;
  
}


@media screen and (max-width: 900px){
    .timeline ul li div{
        width: 250px;
        flex-direction: column;
    }
    .timeline ul li div div{
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div{
        left: -289px;
    }
}
@media screen and (max-width:600px){
   
    .timeline ul li{
        margin-left: 20px;

    }
    .timeline ul li div{
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div{
        left: 45px;
    }
}














